@font-face {
  font-family: 'roboto';
  src: url(assets/font/Roboto/Roboto-Regular.ttf);
}

body {
  background-color: #191765;
  font-family: 'roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  color: #9390ff;
}

p,
h2,
td,
li,
a,
span {
  color: #b3bac5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.header h2 {
  font-size: 18px;
  line-height: 20px;
}

.main-nav {
  display: flex;
}

.main-nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
}

.head-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/circle1header.svg");
  background-repeat: no-repeat;
}

.title-wraper {
  flex-direction: column;
  justify-content: center;
}

.box {
  min-width: 450px;
  margin: 50px;
}

.box p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #b3bac5;
  max-width: 450px;
}

.wrap-content {
  background-image: url("./assets/img/circle1header.svg");
  background-repeat: no-repeat;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skills ul {
  width: 40%;
  margin-top: 20px;
  margin-left: 40px;
}

.skills li {
  margin: 20px;
}

.skills ul li:first-child {
  color: #9390ff;
}

.email-pic {
  color: #b3bac5;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.work-container {
  display: flex;
  justify-content: space-around;
}

.work-reverse {
  flex-direction: row-reverse;
}

.arrow-reverse {
  margin-left: 10px;
}

.vector-container {
  width: 200px;
}

.vector-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vector-container img {
  margin-left: 10px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.arrow-container img:first-child {
  margin-left: 9px;
}

.arrow-container img:last-child {
  margin-top: -8px;
}

.linked-container {
  display: flex;
}

.linked-container div {
  display: flex;
  flex-direction: column;
}

#vector2 {
  margin-left: auto;
}

.recent-work h3 {
  font-size: 45px;
  color: #9390ff;
  margin: 20px;
  text-transform: uppercase;
  margin-left: 150px;
}

.recent-work {
  margin-top: 200px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}

.card {
  display: flex;
  margin-left: 142px;
  margin-top: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}

.card-container .card-body {
  width: auto;
}

.card-container .card {
  flex-direction: column;
}

.card-body h4 {
  font-size: 40px;
  color: #fff;
}

.card-body p {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  animation-name: card-p;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes card-p {
  from {
    font-size: 10px;
    line-height: 10px;
  }

  to {
    font-size: 20px;
    line-height: 28px;
  }
}

.card-body ul {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  text-align: left;
}

.center-text {
  text-align: center;
}

#contact-p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.vertical-line {
  height: 50px;
  border-right: 3px solid #646369;
}

.button {
  background-color: #7d73fc;
  width: 100px;
  height: 60px;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.button:enabled {
  background-color: #7d73fc;
}

.button:focus {
  background-color: #5e42d7;
}

.button:disabled {
  background-color: #2a2b33;
}

input {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
}

textarea::placeholder {
  font-size: 20px;
  padding: 20px;
}

.btn {
  margin-top: 30px;
}

/* Desktop view */
@media (min-width: 768px) {
  .card {
    height: 448px;
  }

  .card-left {
    animation-name: leftcard;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes leftcard {
    0% { margin-left: 100%; }
    25% { margin-left: 75%; }
    50% { margin-left: 50%; }
    75% { margin-left: 25%; }
    100% { margin-left: 142px; }
  }

  .card-body {
    margin-left: 24px;
    width: 40%;
  }

  .line {
    min-width: 450px;
    border-bottom: 1px solid #646369;
    margin-left: 142px;
    margin-right: 142px;
  }

  .card-reverse {
    flex-direction: row-reverse;
    animation-name: reversecard;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    margin-right: 142px;
  }

  @keyframes reversecard {
    from {
      margin-right: 100%;
    }

    to {
      margin-right: 142px;
    }
  }

  .card-reverse img {
    margin-left: 20px;
  }

  .head-wraper {
    background-position: 70px -10px;
    background-size: 184px 184px;
  }

  .title-wraper h1 {
    font-size: 90px;
    line-height: 105px;
    font-weight: bold;
    margin: 24px 0;
    text-align: center;
  }

  .title-wraper h2 {
    font-size: 40px;
    line-height: 47px;
    margin-top: 0;
    text-align: center;
  }

  .wrap-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 90% 50px;
  }

  .justify-space {
    justify-content: space-around;
  }

  .justify-center {
    justify-content: center;
  }

  .footer-nav span {
    margin-left: 20px;
  }

  .h3-l {
    font-size: 40px;
    line-height: 24px;
    color: #9390ff;
    margin: 20px;
  }

  .h3-sm {
    display: none;
  }

  .margin {
    margin-left: 200px;
    margin-right: 300px;
  }
}

/* mobile view */
@media (max-width: 768px) {
  .container {
    align-items: center;
    width: 500px;
  }

  .header {
    width: 500px;
    justify-content: space-between;
  }

  .main-nav {
    display: none;
  }
 
  .mobile-nav{
    
  }
  

  .head-wraper {
    width: 500px;
    background-position: -160px -50px;
  }

  .head-wraper img {
    margin-left: -200px;
  }

  .right {
    margin-right: -100px;
  }

  .container img {
    margin-right: -500px;
  }

  .box {
    width: 33.333%;
  }

  .skills {
    flex-wrap: wrap;
    width: 500px;
    background-position: 400px 10px;
  }

  .humberger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .humberger img {
    width: 33.33px;
    height: 3px;
    margin: 5px;
    background-color: #b3bac5;
  }

  .footer-nav {
    width: auto;
    flex-direction: column;
  }

  .footer-nav span {
    margin-top: 10px;
  }

  .ml {
    margin-left: 100px;
  }

  .upper {
    display: none !important;
  }

  .work-container {
    display: flex;
    margin-top: 30px;
  }

  .card {
    flex-direction: column;
    width: 400px;
  }

  .line {
    min-width: 450px;
    width: 33.333%;
    border-bottom: 1px solid #646369;
  }

  .wrap-content {
    background-position: 450px 150px;
  }

  .work-reverse {
    display: none;
  }

  .h3-sm {
    font-size: 32px;
    line-height: 44px;
    color: #9390ff;
    margin: 20px;
    text-transform: uppercase;
  }

  .h3-l {
    display: none;
  }
}
